/* CSS Document */
*{ margin:0px auto; padding:0px; font-family:"微软雅黑";}
#all{ width:100%; height:auto; float:left; }

#top{ width:100%; height:260px; float:left; border-bottom:#F32613 solid 2px; background-color:#fff;}
.topOne{ width:100%; height:32px; background-color:#FAFAFA; float:left; }

.topOne1{ width:1200px; height:32px; }


.topOne1_left{ width:250px; height:32px; float:left; font-size:13px; line-height:32px; text-align:left; color:#777777; }
.topOne1_left i{ font:13px "微软雅黑"; color:#333333;}
.topOne1_left i a{text-decoration:none; color:#333;}


.topOne1_left i a:hover{ 
	text-decoration:underline;
	
	text-decoration:underline;
	color:#F00;

}


.topOne1_reight{ width:500px; height:32px; float:left; margin-left:450px;}
.topOne1_reight ul li{ width:83px; height:32px; font-size:13px;  list-style:none; float:left; text-align:center; line-height:32px;}
.topOne1_reight ul li a{ color:#777; text-decoration:none;}.topOne1_reight ul li a:hover{ color:#777; cursor:pointer;}
.myOrder{ width:80px; height:120px; border:solid #888 1px; float:left; margin-top:0px;  position:absolute; margin-left:949px; background-color:#fff;}
.myOrder ul li{ width:80px; height:30px; font-size:13px; text-align:center; line-height:30px; list-style:none; }
.myord{ width:80px; height:30px;}
.myord a{ text-decoration:none; color:#777;}.myord:hover{ background-color:#F7F7F7;}
.topOne2{ width:1200px; height:90px;}

.topOne3{ width:1200px; height:138px; }
.topOne3_shang{ width:1200px; height:100px; }
.topOne3_shang_logo{ width:240px; height:57px; float:left; margin-top:15px; }
.topOne3zhong{ width:445px; height:85px; float:left; margin-left:100px; margin-top:8px; }
.topOne3zhong1{ width:52px; height:20px; background-color:#D93600; float:left; color:#fff; font-size:12px; line-height:20px; font-weight:900; text-align:center;}
.topOne3zhong2{ width:441px; height:40px; float:left;border:#F32613 solid 2px; }
.topOne3zhong2suo{ width:68px; height:40px; font-size:15px; color:#FFF; text-align:center;
 line-height:40px; background-color:#F32613; font-weight:900; float:left; margin-left:-1px;}
.topOne3zhong3{ width:445px; height:25px; float:left; }
.topOne3zhong3 ul li{ height:25px; font-size:12px; color:#999; line-height:25px; list-style:none; float:left; margin-left:10px;}
.topOne3zhong3 ul li a{ color:#888; text-decoration:none;}.topOne3zhong3 ul li a:hover{ color:#888; text-decoration:underline;}
.topOne3Phone{ width:125px; height:30px; float:left; margin-left:28px; margin-top:39px; font-size:14px; text-align:center; line-height:30px; }
.topOne3Phone i{ float:left; margin-top:5px; color:#FF2713; font:13px "微软雅黑"; }
.topOne3fu{width:90px; height:30px; float:left; margin-left:10px; margin-top:39px; font-size:14px; text-align:center; line-height:30px; }
.topOne3fu i{ float:left; margin-top:5px; color:#FF2713; font:13px "微软雅黑"; }

/*右上角购物车*/
#ee{
	width:130px;
	height:40px;
	margin-top:30px;
	float:right;
	font-size:12px; color:#888; text-align:left; line-height:38px;
	border:#CCC solid 1px;
	background-color:#F7F7F7;}
#ee a{font-size:12px; color:#888; text-decoration:none;}
.e1{
	width:50px;
	height:35px;
	float:left;}
.e2{
	width:110px;
	height:35px;
	float:right;
	font-family:"微软雅黑";
	font-size:15px;
	line-height:35px;
	color:#9A9A9A;}
.e2:hover{
	color:#F7B100;}
	
.eeshu{ width:18px; height:18px; border-radius:15px; color:#FFF; background-color:#F00; font:15px "微软雅黑"; text-align:center; line-height:18px; position:absolute; top:142px; margin-left:20px; z-index:4;}
.ee{ display:none;}
.eeCount{ display:none;}
#ee:hover .ee{ width:130px; height:40px; border:#D8D8D8 solid 1px; position:absolute;
margin-top:-39px; margin-left:-1px; border-bottom:solid 1px #fff; z-index:3; display:block; background-color:#fff;}
#ee:hover .eeCount{ width:373px; height:auto; border:#D8D8D8 solid 1px; position:absolute; margin-left:-244px; top:96px; margin-top:96px; z-index:2; display:block; background-color:#fff;}

.eeCountTop{ width:371px; height:30px; margin-left:1px; float:left; border-bottom:solid 1px #777;}
.eeCountTopOne{ width:130px; height:30px; float:left;font:14px "微软雅黑"; line-height:30px; font-weight:bold; text-align:center; color:#666666; }
.eeCountTopTwo{ width:100px; height:30px; float:right; font:14px "微软雅黑"; line-height:30px; font-weight:bold; text-align:center; color:#666666;}
.eeCountTopTwo a{color:#666666;}.eeCountTopTwo a:hover{color:#F3974F;}

.eeCountContent{ width:371px; height:75px; float:left; margin-left:1px; margin-top:15px; border-bottom:dashed 1px #999;}
.eeCountContent:hover{ background-color:#F7F7F7;}
.eCcentOne{ width:220px; height:65px; float:left; margin-top:5px; margin-left:5px; }
.eCcentOneImg{ width:63px; height:63px; border:solid 1px #EEEEEE; float:left;}
.eCcentOneImg img{ width:63px; height:63px;}
.eCcentOneFont{ width:153px; height:60px; float:left; margin-left:1px; margin-top:4px; font:13px "微软雅黑"; color:#555555;}
.eCcentOneFont:hover{ color:#F39700;}

.eCcentTwo{ width:120px; height:65px; float:right; margin-top:5px; }
.eCcentTwo1{ width:120px; height:20px; float:left; margin-top:5px; font:13px "微软雅黑"; line-height:20px; text-align:right;}
.eCcentTwo2{ width:120px; height:20px; float:left; margin-top:5px; font:13px "微软雅黑"; line-height:20px; text-align:right; }
.eCcentTwo2 a{ color:#555555;}.eCcentTwo2 a:hover{ color:#F39700;}

.eeCountWei{ width:372px; height:73px; float:left; margin-top:10px; background-color:#F5F5F5;}
.eeCountWei1{ width:372px; height:35px; float:left;font:13px "微软雅黑"; text-align:right; line-height:35px;}
.eeCountWei1 i{font:14px "微软雅黑"; color:#CC0000; font-weight:bold;}
.eeCountWei1 em{font:17px "微软雅黑"; color:#CC0000; font-weight:bold;}
.eeCountWei2{ width:125px; height:30px; float:right;  background-color:#F00; border-radius:5px;margin-top:5px; color:#FFF; font:13px "微软雅黑"; text-align:center; line-height:30px; }
.eeCountWei2:hover{ text-decoration:underline;}



.topOne3_xia{ width:1200px; height:38px; }
.topOne3_xia ul li{ list-style:none; float:left; font:16px "宋体"; color:#333333; font-weight:500; margin-left:38px; margin-top:12px;}
.topOne3_xia ul li a{ text-decoration:none; color:#333;}
.topOne3_xia ul li a:hover{ 
	text-decoration:underline;
	color:#F00;
}



.xiaLiOne{ width:210px; height:38px; color:#FFF; font-weight:600; background-color:#F32613; float:left; cursor:pointer; font:14px "微软雅黑"; text-align:center; line-height:37px;}

/*轮循*/
#lun{ width:100%;height:auto; position:absolute; top:260px;;}
.lunOne{ width:1200px; height:auto;  background-color:#999;}
.lunOneleft{ width:208px; height:487px; background-color:#FFF; float:left; margin-top:-2px; border:solid 1px #F32613; overflow:hidden;}
.lunOneLeft1{ width:210px; height:60px; float:left; border-bottom:solid 1px #F32613; }
.lunOneLeft1:hover i{ color:#F00;}

.lunOneLeft1_1{ width:193px; height:29px; float:left; margin-left:15px; font-size:14px; line-height:30px;}
.lunOneLeft1_1 i{ font:14px "微软雅黑"; float:left; font-weight:800; margin-top:5px;}
.lunOneLeft1_1 i:hover{ text-decoration:underline;}

.lunOneLeft1_2{ width:193px; height:29px; float:left; margin-top:1px; overflow:hidden; margin-left:15px; }
.lunOneLeft1_2 ul li{ list-style:none; float:left; font-size:13px; margin-left:8px; line-height:30px; color:#333;}
.lunOneLeft1_2 ul li a{ color:#333; text-decoration:none;}
.lunOneLeft1_2 ul li a:hover{ text-decoration:underline;}

.lunOneleftFu{ width:460px; height:auto; z-index:2; background-color:#FFF; position:absolute; float:left; margin-left:209px; border:solid 1px #FF0000; display:none;}
.lunOneleftFu ul li{ height:40px; list-style:none; float:left; margin-left:50px; font-size:14px; color:#555; line-height:40px; font-weight:800}

.lunZhong{ width:777px; height:487px; float:left; }
.lunZhongOne{ width:777px; height:307px; float:left; }
.lunZhongOne img{ width:777px; height:307px;}
.lunZhongOneShu{ width:777px; height:25px; background-color:#FFF; opacity:0.5; position:absolute; float:left; margin-top:-25px;}

.lunZhongOneShu ul li{ width:20px; height:20px; border-radius:15px; background-color:#868398; float:left; margin-left:25px; margin-top:3px; list-style:none; z-index:2; cursor:pointer;}

.lunZhongTwo{ width:777px; height:180px; float:left;}
.lunZhongTwo1{ width:257px; height:180px; border-left:solid 1px #CFCFCF; float:left; }

.lunRight{ width:211px; height:487px; float:left; }
.lunRightOne{ width:211px; height:90px; float:left; }
.lunRightOneImg{ width:211px; height:60px; float:left; }
.lunRightOneFont{ width:211px; height:30px; float:left;}
.lunRightOneFont ul li{ list-style:none; font-size:12px;  float:left; margin-left:18px; margin-top:6px;}
.lunRightOneFont ul li a{ text-decoration:none; color:#444;}

.lunRightTwo{ width:211px; height:217px; float:left; }
.lunRightTwo1{ width:211px; height:33px; background-color:#F0F0F0; float:left; font-size:12px; color:#777777; line-height:37px;}
.lunRightTwo1 i{ width:17px; height:17px; border-radius:1px; float:left; margin-top:8px; margin-left:4px; font:14px "微软雅黑"; text-align:center; line-height:17px; background-color:#CB0100; color:#FFF;}
.lunRightTwo2{ width:211px; height:185px; float:left; background-image:url(../image/rightTwo.png); background-repeat:no-repeat; background-size:212px 185px;}
.lunRightTwo2_1{ width:213px; height:20px; float:left; font-size:12px; margin-top:123px; line-height:20px; color:#CCC; }
.lunRightTwo2_2{ width:213px; height:30px; float:left; margin-top:6px;}

.lunRightTwo2_21{ width:85px; height:30px; float:left; font:16px "微软雅黑"; color:#FFF; font-weight:bold; line-height:30px; margin-left:28px; background-color:#F00;}
.lunRightTwo2_22{ width:55px; height:22px; float:left; margin-top:5px; margin-left:30px; background-color:#FF6800; font-size:12px; font-weight:900; text-align:center; line-height:22px;}
.lunRightTwo2_22  a{ color:#FFF; text-decoration:none;}
.lunRightTwo2_22  a:hover{ text-decoration:underline;}

.lunRightThree{ width:213px; height:180px; float:left;}
.lunRightThree img{ width:213px; height:180px;}

#content{ width:100%; height:auto; float:left; }
.content{ width:1200px; height:auto; }
.contentTop{ width:1200px; height:30px; font-size:15px; color:#777; margin-top:5px; line-height:30px;}
.contentTop a{ color:#777; text-decoration:none;}
.contentTop a:hover{ color:#777; text-decoration:underline;}

.contentLeft{ width:208px; height:auto; float:left; border:solid 1px #999; border-top:solid 2px #D93600;}
.contentLeftTp{ width:208px; height:35px; font-size:13px; line-height:35px; background-color:#F5F5F5; color:#333;}
.contentLeft1{ width:208px; height:90px; float:left; margin-top:15px;}
.contentLeft1_1{ width:90px; height:90px; float:left; margin-left:5px; }
.contentLeft1_1 img{width:90px; height:90px;}

.contentLeft1_2{ width:100px; height:90px; float:left; margin-left:10px;}
.contentLeft1_2 p{ width:100px; height:20px; font-size:12px; margin-top:5px; float:left; line-height:20px;  color:#888;}
.contentLeft1_2 p i{ font:13px "微软雅黑"; color:#F00; font-weight:bold;}
.contentLeft1_2 p a{ font-size:12px; color:#888; text-decoration:none;}
.contentLeft1_2 p a:hover{ font-size:12px; color:#888; text-decoration:underline;}
.contentLeft1_2 span{ width:72px; height:27px; float:left; font-size:12px; margin-top:5px; border:solid 1px #FF0000; border-radius:3px; text-align:center; line-height:27px; color:#333;}
.contentLeft1_2 span:hover{ color:#D93600;}

.contentRight{ width:980px; height:auto; float:right; }
.contentRightOne{ width:978px; height:285px; float:left; border:solid 1px #999; border-top:solid 2px #D93600; }
.conRightOne1{ width:978px; height:35px; font:13px "微软雅黑"; line-height:35px; background-color:#F5F5F5; color:#333;}
.conRightOne2{ width:945px; height:30px; float:right; border-bottom:dashed 1px #999; overflow:hidden; color:#555;}
.conRightOne2 ul li{ list-style:none; height:22px; float:left;  font-size:13px; margin-top:5px; line-height:24px; margin-left:20px;}
.conRightOne2 ul li:hover{ text-decoration:underline; background-color:#4598D2;}
.conRightOne2 ul li a{ color:#005AA0; text-decoration:none; height:25px;}
.conRightOne2 ul li a:hover{ color:#fff;}
.conRightOne2_1{ font-weight:bolder; color:#555;}

.contentShou{ width:978px; height:40px; float:left; margin-top:5px; background-color:#F7F7F7; font-size:13px; color:#888; line-height:40px; border:solid 1px #999;}
.contentShou ul li{ list-style:none; float:left; }
.conShouLi{ width:40px; border-left:solid 1px #999; margin-left:-1px; border-right:solid 1px #999; text-align:center;}
.conShouLi:hover{ color:#F00; cursor:pointer; background-color:#FFF;}

.contentRightTwo{ width:980px; height:auto; float:left; margin-top:5px;}
.contentRightTwo1{ width:240px; height:370px; float:left; margin-left:2px; margin-top:15px; border:solid 1px #fff;}



.contentRightTwo1 .scale{
                transition:All 0.4s ease-in-out;
                -webkit-transition:All 0.6s ease-in-out;
                -moz-transition:All 0.6s ease-in-out;
                -o-transition:All 0.6s ease-in-out;
          
              
            }
          .contentRightTwo1:hover .scale {
                transform:scale(1.1);
                -webkit-transform:scale(1.03);
                -moz-transform:scale(1.1);
                -o-transform:scale(1.1);
                -ms-transform:scale(1.1);
            }
.contentRightTwo1:hover{ opacity:0.8; border:solid 1px #ccc;}




.contentRightTwo1Img{ width:220px; height:240px; float:left; margin-left:12px; margin-top:12px; }
.contentRightTwo1Img img{ width:220px; height:240px;}
.conRtTwo1Price{ width:220px; height:25px; float:left; color:#FF3C00; font-size:14px; margin-left:12px; margin-top:2px; line-height:25px; font-weight:bold; }
.conRtTwo1Font{ width:220px; height:40px; float:left; font-size:14px; overflow:hidden; margin-left:12px; color:#737373; margin-top:3px; }
.conRtTwo1Font a{ color:#737373; text-decoration:none;}
.conRtTwo1Font a:hover{ color:#FF6A00; text-decoration:underline;}
.conRtTwo1Bus{ width:220px; height:40px; margin-top:3px; font-size:15px; text-align:center; line-height:40px; color:#333; border-radius:5px; border:solid 1px #D9D9D9; float:left; margin-left:12px; background-color:#fff;}
.conRtTwo1Bus:hover{ background-color:#FFE8D9; color:#FF6A50;}


#fenye{
	width:980px;
	height:110px;
	float:right;
	margin-top:20px;
	}	
.fenOne{ width:665px; height:50px; float:left; margin-left:190px; margin-top:30px; }	
.fenOne ul li{ list-style:none; float:left; margin-left:4px;}
.fontli1{cursor:pointer; width:36px; height:26px; background-color:#F3F3F3; border:solid 1px #DDDDDD; font:13px "微软雅黑"; color:#ADAAAD; text-align:center; line-height:26px;}
.fontli1:hover{ background-color:#E83928; border:solid 1px #B02313; color:#FFF;}
.fontli2:hover{ background-color:#E83928; border:solid 1px #B02313; color:#FFF;}
.fontli3:hover{ background-color:#E83928; border:solid 1px #B02313; color:#FFF;}
.fontli2{cursor:pointer; width:66px; height:26px;background-color:#F3F3F3; border:solid 1px #DDDDDD; font:13px "微软雅黑"; color:#ADAAAD; text-align:center; line-height:26px;}
.fontli3{cursor:pointer; width:27px; height:26px;background-color:#F3F3F3; border:solid 1px #DDDDDD; font:13px "微软雅黑"; color:#ADAAAD; text-align:center; line-height:26px;}
.fontli4{ width:65px; height:26px; font:15px "微软雅黑";  text-align:center; line-height:26px;}
.fontli4 i{font:15px "微软雅黑";  text-align:center; line-height:26px;}
.fontli5{ width:80px; height:26px; font:15px "微软雅黑";  text-align:center; line-height:26px;}
.fontli5 input{ width:35px; height:22px;}
.fontli6{cursor:pointer; width:30px; height:26px;background-color:#F3F3F3; border:solid 1px #DDDDDD; font:13px "微软雅黑"; color:#333; text-align:center; line-height:26px;}
.fontli6:hover{ background-color:#E83928; border:solid 1px #B02313; color:#FFF;}


#wei{ width:100%; height:auto; float:left; background-color:#F5F5F5; border-top:solid 5px #E7E7E7; margin-bottom:5px;}
.wei{ width:1200px; height:380px; }
.weiTop{ width:1200px; height:100px; float:left; margin-top:25px; overflow:hidden; }
.weiTop1{ width:199px; height:100px; float:left; border-right:dashed 1px #ccc; }
.weiTop1Img{ width:55px; height:55px;  }
.weiTop1 p{ width:198px; height:25px; float:left; margin-top:1px; font-size:13px; font-weight:700; text-align:center; line-height:25px; color:#666; }
.weiTop1 span{ width:198px; height:25px; float:left; font-size:13px; text-align:center; line-height:20px; color:#777; margin-top:1px; }



.weiTowOne{
	width:1200px;
	height:auto;}
.weiTowOne1{
	width:1200px;
	height:230px;
	float:left;
	margin-top:10px;
	border-bottom:solid 1px #DDDDDD;}
	
.weiTowOne1left{
	width:900px;
	height:230px;
	float:left;}

.weiTowOne1leftOne{
	width:130px;
	height:190px;
	float:left;
	margin-top:5px;
	margin-left:15px;}
.weiTowOne1leftOne_1{
	width:128px;
	height:30px;
	float:left;
	margin-top:5px;
	line-height:30px;
	color:#666666;
	border-bottom:solid 1px #DDDDDD;
	font:16px "微软雅黑";
	font-weight:bold;}
.weiTowOne1leftOne_2{
	width:130px;
	height:155px;
	float:left;
	margin-top:4px;
	font:13px "微软雅黑";
	line-height:25px;
	}
.weiTowOne1leftOne_2 ul li{	list-style:none;}
.weiTowOne1leftOne_2 ul li a{
	color:#666666;
	text-decoration:none;
	list-style:none;}
.weiTowOne1leftOne_2 ul li a:hover{ text-decoration:underline;}

.weiTowOne1Reight{
	width:300px;
	height:230px;
	float:right;}	
.weiTowOne1Reight1{
	width:300px;
	height:50px;
	float:left;
	margin-top:20px;}
.weiTowOne1Reight1Img{
	width:40px;
	height:40px;
	float:left;
	margin-top:5px;
	margin-left:60px;}
.weiTowOne1Reight1Font{
	width:190px;
	height:50px;
	float:left;
	margin-left:5px;}
.weiTowOne1Reight1Font_1{
	width:190px;
	height:20px;
	float:left;
	font:12px "微软雅黑";
	color:#777777;
	line-height:18p;}
.weiTowOne1Reight1FontA{
	width:190px;
	height:30px;
	float:left;
	margin-left:5px;
	margin-top:10px;
	line-height:55px;
	font:23px "微软雅黑";
	font-weight:bold;}
.weiTowOne1Reight1FontA a{
	color:#999999;
	text-decoration:none;}
.weiTowOne1Reight1FontA a:hover{ color:#48B9DA;}
.weiTowOne1Reight1Font_2{
	width:190px;
	height:30px;
	float:left;
	font:22px "微软雅黑";
	font-weight:bold;
	color:#48B9DA;}

.weiTowTow{
	width:1200px;
	height:100px;
	float:left;}
.weiTowTow1{
	width:1200px;
	height:25px;
	float:left;
	margin-top:10px;
	text-align:center;
	line-height:25px;
	color:#999999;
	font:13px "微软雅黑";
	}
.weiTowTow1 a{ color:#999999; text-decoration:none;}
.weiTowTow1 a:hover{  color:#4FBBB5;}
.weiTowTow2{
	width:1200px;
	height:25px;
	float:left;
	margin-top:10px;
	text-align:center;
	line-height:25px;
	color:#999999;
	font:13px "微软雅黑";
	}
.weiTowTow3{
	width:1200px;
	height:40px;
	float:left;
	margin-top:5px;
	text-align:center;}


