/* CSS Document */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, img {
	margin:0px auto;
	padding:0px;
}
*{ font-family:"微软雅黑";}
#all{ width:100%; height:auto; background-color:#F8F8F8;}
#top{ width:100%; height:230px; float:left; border-bottom:#F32613 solid 2px; background-color:#fff;}
.topOne{ width:100%; height:32px; background-color:#FAFAFA; float:left; }

.topOne1{ width:1200px; height:32px; }
.topOne1_left{ width:250px; height:32px; float:left; font-size:13px; line-height:32px; text-align:left; color:#777777; }
.topOne1_left i{ font:13px "微软雅黑"; color:#333333;}
.topOne1_left i a{text-decoration:none; color:#333;}.topOne1_left i a:hover{ text-decoration:underline;}
.topOne1_reight{ width:500px; height:32px; float:left; margin-left:450px;}
.topOne1_reight ul li{ width:83px; height:32px; font-size:13px;  list-style:none; float:left; text-align:center; line-height:32px;}
.topOne1_reight ul li a{ color:#777; text-decoration:none;}.topOne1_reight ul li a:hover{ color:#777; cursor:pointer;}
.myOrder{ width:80px; height:120px; border:solid #888 1px; float:left; margin-top:0px;  position:absolute; margin-left:949px; background-color:#fff;}
.myOrder ul li{ width:80px; height:30px; font-size:13px; text-align:center; line-height:30px; list-style:none; }
.myord{ width:80px; height:30px;}
.myord a{ text-decoration:none; color:#777;}.myord:hover{ background-color:#F7F7F7;}
.topOne2{ width:1200px; height:90px;}

.topOne3{ width:1200px; height:138px; }
.topOne3_shang{ width:1200px; height:100px; }
.topOne3_shang_logo{ width:240px; height:57px; float:left; margin-top:15px; }
.topOne3zhong{ width:445px; height:85px; float:left; margin-left:100px; margin-top:8px; }
.topOne3zhong1{ width:52px; height:20px; background-color:#D93600; float:left; color:#fff; font-size:12px; line-height:20px; font-weight:900; text-align:center;}
.topOne3zhong2{ width:441px; height:40px; float:left;border:#F32613 solid 2px; }
.topOne3zhong2suo{ width:68px; height:40px; font-size:15px; color:#FFF; text-align:center;
 line-height:40px; background-color:#F32613; font-weight:900; float:left; margin-left:-1px;}
.topOne3zhong3{ width:445px; height:25px; float:left; }
.topOne3zhong3 ul li{ height:25px; font-size:12px; color:#999; line-height:25px; list-style:none; float:left; margin-left:10px;}
.topOne3zhong3 ul li a{ color:#888; text-decoration:none;}.topOne3zhong3 ul li a:hover{ color:#888; text-decoration:underline;}
.topOne3Phone{ width:125px; height:30px; float:left; margin-left:28px; margin-top:39px; font-size:14px; text-align:center; line-height:30px; }
.topOne3Phone i{ float:left; margin-top:5px; color:#FF2713; font:13px "微软雅黑"; }
.topOne3fu{width:90px; height:30px; float:left; margin-left:10px; margin-top:39px; font-size:14px; text-align:center; line-height:30px; }
.topOne3fu i{ float:left; margin-top:5px; color:#FF2713; font:13px "微软雅黑"; }

/*右上角购物车*/
#ee{
	width:130px;
	height:40px;
	margin-top:30px;
	float:right;
	font-size:12px; color:#888; text-align:left; line-height:38px;
	border:#CCC solid 1px;
	background-color:#F7F7F7;}
#ee a{font-size:12px; color:#888; text-decoration:none;}
.e1{
	width:50px;
	height:35px;
	float:left;}
.e2{
	width:110px;
	height:35px;
	float:right;
	font-family:"微软雅黑";
	font-size:15px;
	line-height:35px;
	color:#9A9A9A;}
.e2:hover{
	color:#F7B100;}
	
.eeshu{ width:18px; height:18px; border-radius:15px; color:#FFF; background-color:#F00; font:15px "微软雅黑"; text-align:center; line-height:18px; position:absolute; top:142px; margin-left:20px; z-index:4;}
.ee{ display:none;}
.eeCount{ display:none;}
#ee:hover .ee{ width:130px; height:40px; border:#D8D8D8 solid 1px; position:absolute;
margin-top:-39px; margin-left:-1px; border-bottom:solid 1px #fff; z-index:3; display:block; background-color:#fff;}
#ee:hover .eeCount{ width:373px; height:auto; border:#D8D8D8 solid 1px; position:absolute; margin-left:-244px; top:96px; margin-top:96px; z-index:2; display:block; background-color:#fff;}

.eeCountTop{ width:371px; height:30px; margin-left:1px; float:left; border-bottom:solid 1px #777;}
.eeCountTopOne{ width:130px; height:30px; float:left;font:14px "微软雅黑"; line-height:30px; font-weight:bold; text-align:center; color:#666666; }
.eeCountTopTwo{ width:100px; height:30px; float:right; font:14px "微软雅黑"; line-height:30px; font-weight:bold; text-align:center; color:#666666;}
.eeCountTopTwo a{color:#666666;}.eeCountTopTwo a:hover{color:#F3974F;}

.eeCountContent{ width:371px; height:75px; float:left; margin-left:1px; margin-top:15px; border-bottom:dashed 1px #999;}
.eeCountContent:hover{ background-color:#F7F7F7;}
.eCcentOne{ width:220px; height:65px; float:left; margin-top:5px; margin-left:5px; }
.eCcentOneImg{ width:63px; height:63px; border:solid 1px #EEEEEE; float:left;}
.eCcentOneImg img{ width:63px; height:63px;}
.eCcentOneFont{ width:153px; height:60px; float:left; margin-left:1px; margin-top:4px; font:13px "微软雅黑"; color:#555555;}
.eCcentOneFont:hover{ color:#F39700;}

.eCcentTwo{ width:120px; height:65px; float:right; margin-top:5px; }
.eCcentTwo1{ width:120px; height:20px; float:left; margin-top:5px; font:13px "微软雅黑"; line-height:20px; text-align:right;}
.eCcentTwo2{ width:120px; height:20px; float:left; margin-top:5px; font:13px "微软雅黑"; line-height:20px; text-align:right; }
.eCcentTwo2 a{ color:#555555;}.eCcentTwo2 a:hover{ color:#F39700;}

.eeCountWei{ width:372px; height:73px; float:left; margin-top:10px; background-color:#F5F5F5;}
.eeCountWei1{ width:372px; height:35px; float:left;font:13px "微软雅黑"; text-align:right; line-height:35px;}
.eeCountWei1 i{font:14px "微软雅黑"; color:#CC0000; font-weight:bold;}
.eeCountWei1 em{font:17px "微软雅黑"; color:#CC0000; font-weight:bold;}
.eeCountWei2{ width:125px; height:30px; float:right;  background-color:#F00; border-radius:5px;margin-top:5px; color:#FFF; font:13px "微软雅黑"; text-align:center; line-height:30px; }
.eeCountWei2:hover{ text-decoration:underline;}

.topOne3_xia{ width:1200px; height:38px; }
.topOne3_xia ul li{ list-style:none; float:left; font:16px "宋体"; color:#333333; font-weight:500; margin-left:40px; margin-top:12px;}
.topOne3_xia ul li a{ text-decoration:none; color:#333;}
.xiaLiOne{ width:210px; height:38px; color:#FFF; font-weight:600; background-color:#F32613; float:left; cursor:pointer; font:14px "微软雅黑"; text-align:center; line-height:37px;}



#content{width:100%;height:auto;float:left;margin-top:10px; background-color:#fff;}
/*Bustop*/
.contentTop{ width:1200px; height:35px; background-image:url(../image/bustop3.jpg); background-repeat:no-repeat;}
.contentTop1{ width:398px; height:35px; float:left; text-align:center; font:14px "微软雅黑"; line-height:35px; color:#FFF;}
.contentTop2{ width:398px; height:35px; float:left; margin-left:3px;text-align:center; font:14px "微软雅黑"; line-height:35px; color:#FFF;}

#contentOne{width:1200px;height:auto;}


.FanHui{float:left; font-size:15px; margin-left:-785px; margin-top:55px;}	
.FanHui a{ color:#ff9900; text-decoration:underline;}


/*填写核对订单*/
.contentTow{ width:1200px; height:auto; margin-top:10px; background-color:#0F0;}

/*订单生成*/
#orderSheng{width:100%; height:650px; float:left; margin-top:10px; }
.orderShengCont{ width:1200px; height:auto;}
.orderShengCont1{ width:1200px; height:50px; float:left; font:21px "微软雅黑"; line-height:50px;}
.orderShengCont2{ width:1198px; height:470px; float:left; border:solid 1px #dddddd; border-radius:5px;}
.odCont2_1{ width:500px; height:50px; float:left; margin-top:10px; margin-left:300px;}
.odCont2_1One{ width:120px; height:50px; float:left; font:15px "微软雅黑"; line-height:50px; text-align:right;}
.odCont2_1Two{ width:330px; height:50px; float:left; margin-left:20px; float:left; font:15px "微软雅黑"; line-height:50px; text-align:left;}
.odCont2_1Fu{ width:120px; height:35px; margin-left:140px;background-color:#ff9900; border-left:solid 1px #DDDDDD; border-top:solid 1px #DDDDDD; border-right:solid 1px #898989; border-bottom:solid 1px #898989; font:18px "微软雅黑"; color:#FFF; line-height:35px; text-align:center; border-radius:30px; cursor:pointer;}
.odCont2_1Fu:hover{ background-color:#F39700;}


#wei{ width:100%; height:auto; float:left; margin-top:20px; background-color:#F5F5F5; border-top:solid 5px #E7E7E7; margin-bottom:5px;}
.wei{ width:1200px; height:380px;}
.weiTop{ width:1200px; height:100px; float:left; margin-top:25px; overflow:hidden; }
.weiTop1{ width:199px; height:100px; float:left; border-right:dashed 1px #ccc; }
.weiTop1Img{ width:55px; height:55px;  }
.weiTop1 p{ width:198px; height:25px; float:left; margin-top:1px; font-size:13px; font-weight:700; text-align:center; line-height:25px; color:#666; }
.weiTop1 span{ width:198px; height:25px; float:left; font-size:13px; text-align:center; line-height:20px; color:#777; margin-top:1px; }



.weiTowOne{
	width:1200px;
	height:auto;}
.weiTowOne1{
	width:1200px;
	height:230px;
	float:left;
	margin-top:10px;
	border-bottom:solid 1px #DDDDDD;}
	
.weiTowOne1left{
	width:900px;
	height:230px;
	float:left;}

.weiTowOne1leftOne{
	width:130px;
	height:190px;
	float:left;
	margin-top:5px;
	margin-left:15px;}
.weiTowOne1leftOne_1{
	width:128px;
	height:30px;
	float:left;
	margin-top:5px;
	line-height:30px;
	color:#666666;
	border-bottom:solid 1px #DDDDDD;
	font:16px "微软雅黑";
	font-weight:bold;}
.weiTowOne1leftOne_2{
	width:130px;
	height:155px;
	float:left;
	margin-top:4px;
	font:13px "微软雅黑";
	line-height:25px;
	}
.weiTowOne1leftOne_2 ul li{	list-style:none;}
.weiTowOne1leftOne_2 ul li a{
	color:#666666;
	text-decoration:none;
	list-style:none;}
.weiTowOne1leftOne_2 ul li a:hover{ text-decoration:underline;}

.weiTowOne1Reight{
	width:300px;
	height:230px;
	float:right;}	
.weiTowOne1Reight1{
	width:300px;
	height:50px;
	float:left;
	margin-top:20px;}
.weiTowOne1Reight1Img{
	width:40px;
	height:40px;
	float:left;
	margin-top:5px;
	margin-left:60px;}
.weiTowOne1Reight1Font{
	width:190px;
	height:50px;
	float:left;
	margin-left:5px;}
.weiTowOne1Reight1Font_1{
	width:190px;
	height:20px;
	float:left;
	font:12px "微软雅黑";
	color:#777777;
	line-height:18p;}
.weiTowOne1Reight1FontA{
	width:190px;
	height:30px;
	float:left;
	margin-left:5px;
	margin-top:10px;
	line-height:55px;
	font:23px "微软雅黑";
	font-weight:bold;}
.weiTowOne1Reight1FontA a{
	color:#999999;
	text-decoration:none;}
.weiTowOne1Reight1FontA a:hover{ color:#48B9DA;}
.weiTowOne1Reight1Font_2{
	width:190px;
	height:30px;
	float:left;
	font:22px "微软雅黑";
	font-weight:bold;
	color:#48B9DA;}

.weiTowTow{
	width:1200px;
	height:100px;
	float:left;}
.weiTowTow1{
	width:1200px;
	height:25px;
	float:left;
	margin-top:10px;
	text-align:center;
	line-height:25px;
	color:#999999;
	font:13px "微软雅黑";
	}
.weiTowTow1 a{ color:#999999; text-decoration:none;}
.weiTowTow1 a:hover{  color:#4FBBB5;}
.weiTowTow2{
	width:1200px;
	height:25px;
	float:left;
	margin-top:10px;
	text-align:center;
	line-height:25px;
	color:#999999;
	font:13px "微软雅黑";
	}
.weiTowTow3{
	width:1200px;
	height:40px;
	float:left;
	margin-top:5px;
	text-align:center;}


